* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-left: 10px;
}

header {
    width: auto;
    height: 170px;
    background-image: url(../html-css-booleaner/img/pattern.png);
    background-color: lightskyblue;
}

#logo {
    width: 350px;
    padding: 80px 10px 20px;
}

h1 {
    font-size: 50px;
    padding-top: 15px;
}

div {
    padding-top: 20px;
}