* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-left: 10px;
}

header {
    width: auto;
    height: 170px;
    background-image: url(../html-css-booleaner/img/pattern.png);
    background-color: lightskyblue;
}

#logo {
    width: 350px;
    padding: 80px 10px 20px;
}

h1 {
    font-size: 50px;
    padding-top: 15px;
}

div {
    padding-top: 20px;
}

.punti-discorso {
    padding-left: 10px;
}

.row-bottom {
    background-color: lightskyblue;
}

.prima {
    width: 25%;
}

.seconda {
    width: 25%;
}

.terza {
    width: 50%;
}

.tabella {
    border-collapse: collapse;
    text-align: left;
}

.colored {
    background-color: lightblue;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pic {
    display: block;
    padding-top: 15px;
}

body {
    width: 1200px;
    margin: 0 auto;
}